
 /* License https://github.com/dmack6464/WinClassic/blob/master/LICENSE */

 /*
///////////////////////
///98.css SCROLLBAR
//////////////////////
*/

 body *::-webkit-scrollbar {
 	width: 16px;
 	height: 16px;
 	background: none;
 }

 body *::-webkit-scrollbar-thumb {
 	width: 16px;
 	height: 16px;
 	background: #C0C0C0;
 	box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
 	border: 1px solid;
 	border-color: #C0C0C0 #000 #000 silver;
 }

 body *::-webkit-scrollbar-track {
 	image-rendering: optimizeSpeed;
 	image-rendering: pixelated;
 	image-rendering: optimize-contrast;
 	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
 	background-position: 0 0;
 	background-repeat: repeat;
 	background-size: 2px;
 }

 body *::-webkit-scrollbar-button {
 	background-repeat: no-repeat;
 	background-size: 16px;
 }

 body *::-webkit-scrollbar-button:single-button:vertical:decrement {
 	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
 }

 body *::-webkit-scrollbar-button:single-button:vertical:increment {
 	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
 }

 body *::-webkit-scrollbar-button:single-button:horizontal:decrement {
 	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
 }

 body *::-webkit-scrollbar-button:single-button:horizontal:increment {
 	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
 }

 body *::-webkit-scrollbar-corner {
 	background: #c0c0c0;
 }

 .scroller-kQBbkU::-webkit-scrollbar-track {
 	margin-bottom: 0px;
 }

 /* dakedres was here ;3 */



 /*
////////////////////////////////
///CLASSIC TITLE BAR (Tropical)
////////////////////////////////
*/

 /*Variables*/

 .platform-win {
 	--classic-titlebar-height: 20px;
 	--classic-titlebar-active: linear-gradient(90deg, #0a246a, #a6caf0);
 	--classic-titlebar-inactive: linear-gradient(90deg, #808080, #c0c0c0);
 	--classic-titlebar-wordmark-content: 'Discord';
 	--classic-app-padding: 3px;
 }


 /*Source*/

 .typeWindows-2-g3UY {
 	position: relative;
 	display: flex;
 	align-items: center;
 	margin-top: 0;
 	top: 0;
 	height: var(--classic-titlebar-height);
 	padding: 3px 2px 3px 3px;
 	box-sizing: border-box;
 	z-index: 9999;
 }

 .winButton-3UMjdg {
 	top: unset;
 	width: 16px;
 	height: 14px;
 	cursor: default;
 	background-color: #C0C0C0 !important;
 	box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
 	background-repeat: no-repeat;
 }

 .winButton-3UMjdg:active {
 	box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
 }

 .winButtonClose-3Q8ZH5 {
 	margin-left: 2px;
 	background-position: top 3px left 4px;
 	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
 }

 .winButton-3UMjdg:nth-last-child(2) {
 	background-position: top 2px left 3px;
 	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0H0v9h9V0zM8 2H1v6h7V2z' fill='%23000'/%3E%3C/svg%3E");
 }

 .winButton-3UMjdg:last-child {
 	background-position: bottom 3px left 4px;
 	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 0h6v2H0z'/%3E%3C/svg%3E");
 }

 .winButton-3UMjdg svg {
 	display: none;
 }

 .wordmarkWindows-2dq6rw {
 	top: 0;
 	left: 0;
 	padding: 0 3px;
 	box-sizing: border-box;
 	width: 100%;
 	height: var(--classic-titlebar-height);
 	display: flex;
 	align-items: center;
 	background-image: var(--classic-titlebar-inactive);
 }

 .app-focused .wordmarkWindows-2dq6rw {
 	background-image: var(--classic-titlebar-active);
 }

 .app-focused .wordmarkWindows-2dq6rw::before {
 	opacity: 1;
 }

 .wordmarkWindows-2dq6rw::before {
 	content: var(--classic-titlebar-wordmark-content);
 	height: var(--classic-titlebar-height);
 	z-index: 1;
 	position: relative;
 	font-family: 'Tahoma';
 	font-size: 12px;
 	color: #fff;
 	font-weight: 700;
 	opacity: .8;
 	padding: 0 3px;
 	line-height: var(--classic-titlebar-height);
 	font-smooth: always;
 }

 .wordmarkWindows-2dq6rw svg {
 	display: none;
 }

 .platform-win #app-mount,
 .platform-win .backdrop-2ByYRN,
 .platform-win .backdropWithLayer-3_uhz4 {
 	padding: var(--classic-app-padding);
 	box-sizing: border-box;
 	background-color: #C0C0C0;
 	box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
 }

 .platform-win .bg-1QIAus,
 .platform-win .layer-86YKbF,
 .platform-win .standardSidebarView-E9Pc3j {
 	top: 0;
 	padding-top: 0;
 }


 /*
////////////////////
///WINCLASSIC THEME
////////////////////
*/

 @import url('https://fonts.googleapis.com/css?family=Tahoma&display=swap');


 * {
 	border-radius: 0px !important;
 	text-transform: none !important;
 }

 .theme-light {
 	--header-primary: #000;
 	--header-secondary: #000;
 	--text-normal: #000;
 	--text-muted: #747f8d;
 	--text-link: #0067e0;
 	--channels-default: #000;
 	--interactive-normal: #000;
 	--interactive-hover: #dbdbdb;
 	--interactive-active: #060607;
 	--interactive-muted: #a88985;
 	--background-primary: #dbdbdb;
 	--background-secondary: #C0C0C0;
 	--background-tertiary: #dbdbdb;
 	--background-accent: #0a246a;
 	--background-floating: #C0C0C0;
 	--background-modifier-hover: #0a246a;
 	--background-modifier-active: #0a246a;
 	--background-modifier-selected: #0a246a;
 	--background-modifier-accent: rgba(6, 6, 7, 0.08);
 	--elevation-low: 0 1px 0 rgba(6, 6, 7, 0.1), 0 1.5px 0 rgba(6, 6, 7, 0.025), 0 2px 0 rgba(6, 6, 7, 0.025);
 	--elevation-high: 0 8px 16px rgba(0, 0, 0, 0.16);
 	--logo-primary: #7289da;
 	--guild-header-text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.4);
 	--channeltextarea-background: #ebedef;
 	--activity-card-background: #dbdbdb;
 	--deprecated-panel-background: #ebedef;
 	--deprecated-card-bg: #f8f9f9;
 	--deprecated-card-editable-bg: #C0C0C0;
 	--deprecated-store-bg: #f8f9f9;
 	--deprecated-quickswitcher-input-background: #dbdbdb;
 	--deprecated-quickswitcher-input-placeholder: rgba(79, 84, 92, 0.3);
 	--deprecated-text-input-bg: rgba(79, 84, 92, 0.02);
 	--deprecated-text-input-border: rgba(79, 84, 92, 0.3);
 	--deprecated-text-input-border-hover: #b9bbbe;
 	--deprecated-text-input-border-disabled: #dcddde;
 	--deprecated-text-input-prefix: #b9bbbe;
 }

 /* temp(?) fix for the Save To plugin when you right-click images/users */

 .contextMenu-HLZMGh {
 	max-width: 400px;
 }

 .itemGroup-1tL0uz .item-1Yvehc:not(.da-item):hover {
 	height: 200px;
 }

 .itemGroup-1tL0uz .item-1Yvehc:not(.da-item) {
 	position: relative;
 	font-weight: 500;
 	-webkit-box-sizing: border-box;
 	box-sizing: border-box;
 	margin-top: 2px;
 	margin-bottom: 2px;
 	padding: 0 8px;
 	font-size: 14px;
 	color: var(--interactive-normal);
 	line-height: 18px;
 	height: 24px;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-align: center;
 	-ms-flex-align: center;
 	align-items: center;
 	border-radius: 2px;
 }

 .itemGroup-1tL0uz .itemSubMenu-1vN_Yn .contextMenu-HLZMGh .itemGroup-1tL0uz .item-1Yvehc {
 	height: 20px;
 }

 .itemGroup-1tL0uz .itemSubMenu-1vN_Yn .contextMenu-HLZMGh .itemGroup-1tL0uz .item-1Yvehc:hover {
 	height: 100px;
 }

 .itemGroup-1tL0uz .itemSubMenu-1vN_Yn .contextMenu-HLZMGh .itemGroup-1tL0uz .item-1Yvehc .contextMenu-HLZMGh .item-1Yvehc {
 	height: 19px;
 	min-height: unset;
 }

 .itemGroup-1tL0uz .itemSubMenu-1vN_Yn .contextMenu-HLZMGh .itemGroup-1tL0uz .item-1Yvehc .contextMenu-HLZMGh {
 	overflow-y: scroll !important;
 	height: 100px;
 	padding: 0 !important;
 }

 .theme-dark .contextMenu-HLZMGh:not(.da-contextMenu),
 .theme-light .contextMenu-HLZMGh:not(.da-contextMenu) {
 	left: 0 !important;
 	top: 0px !important;
 	max-height: 200px;
 }



 /* fuck it scrollbars are broken i cant figure this shit out
its up to you to fix them or wait for me to eventually fox them*/

 /*Scrollbars*/
 ::-webkit-scrollbar-corner {
 	background-color: transparent;
 }

 ::-webkit-scrollbar {
 	width: 6px !important;
 	height: 8px !important;
 }

 ::-webkit-scrollbar-track:active {
 	background-color: #2a2a2a !important;
 }

 ::-webkit-scrollbar-button {
 	display: initial !important;
 	background-color: #c5c4c0;
 }

 ::-webkit-scrollbar-track {
 	background-color: transparent;
 	border: 6px;
 	border-radius: 0px !important;
 }

 ::-webkit-scrollbar-track:hover {
 	background-color: #111111;
 	border: 6px;
 }

 ::-webkit-scrollbar-track:active {
 	background-color: #111111;
 	border: 6px !important;
 }

 /* Changes all scroll bars */
 ::-webkit-scrollbar {
 	width: 16px !important;
 	height: 8px !important;
 }

 /* Border and colour of the scrollbar thumb  */
 ::-webkit-scrollbar-thumb {
 	background-color: #c5c4c0 !important;
 	border: none !important;
 	border-radius: 0px !important;
 }

 /* Changes the background colour of the scroll bars and servers. */
 ::-webkit-scrollbar-track-piece, .guilds-wrapper {
 	background-color: #aca9a9d9 !important;
 	border: none !important;
 	border-radius: 0px !important;
 }


 .scrollerFade-1Ijw5y .scroller-2FKFPG::-webkit-scrollbar-thumb, .scrollerFade-1Ijw5y .scroller-2FKFPG::-webkit-scrollbar-track {
 	visibility: visible !important;
 }


 .theme-light .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
 	background-color: #d7d2cf !important;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 	width: 16px;
 }

 .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track {
 	border: 6px !important;
 	border-radius: 0px !important;
 }

 .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track:hover {
 	background-color: #111111 !important;
 }

 .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track:active {
 	background-color: #2a2a2a !important;
 }

 ::-webkit-input-placeholder, body, button, select, div {
 	font-family: Tahoma, Whitney !important;
 }

 .form-3gdLxP {
 	background: #C0C0C0;
 	color: #000;
 }

 .modeMuted-3osy7j .name-3_Dsmg:not(:hover) {
 	text-shadow: 0px 1px #fff;
 }

 .contextMenu-HLZMGh {
 	padding: 0;
 }

 .itemBase-tz5SeC {
 	min-height: 21px;
 }

 .side-1lrxIh .item-2GWPIy {
 	height: 21px;
 	padding: 0;
 	margin: 0;
 }

 .labelContainer-35-WEd {
 	height: 21px;
 	padding: 1;
 	margin: 0;
 }

 .form-3gdLxP,
 .item-1Yvehc {
 	margin: 0;
 }

 .barButtonBase-3UKlW2 {
 	color: #000;
 }

 .theme-light #bd-settings-sidebar .ui-tab-bar-header,
 .theme-light #bd-settings-sidebar .ui-tab-bar-item {
 	color: #000;
 }

 .side-2ur1Qk .separator-2wx7h6 {
 	padding: 0;
 	margin: 0;
 }

 .wrapper-CU3qI5:hover {
 	background: #0a246a;
 }

 .wrapper-28eC3z svg foreignObject,
 .wrapper-1VLyxH mask,
 .wrapper-1VLyxH foreignObject {
 	mask: none;
 }

 .header-2w6VV8 {
 	overflow: hidden;
 	height: 17px;
 	padding: 0px 4px !important;
 	margin: 0;
 }

 .flexChild-3PzYmX h4 {
 	margin-top: -2px;
 	font-size: 12px;
 	color: #fff;
 }

 .theme-light .bda-slist li,
 .theme-light .bda-slist .bda-description,
 .theme-light .bda-slist .bda-header {
 	background-color: var(--background-secondary);
 	color: #000;
 	margin: 0;
 	border-bottom: 1px solid #848484;
 	border-top: 1px solid #fff;
 }

 .bd-controls>.bd-addon-button svg {
 	fill: black;
 }

 .bd-button, .bd-addon-button {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .bd-addon-list .bd-addon-header {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .bd-description-wrap {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-right: 1px solid #848484;
 	border-left: 1px solid #fff;
 }

 .bd-addon-list .bd-footer {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-right: 1px solid #848484;
 	border-left: 1px solid #fff;
 }

 button.bd-button.bd-addon-button.bd-button-danger {
 	background: #C0C0C0 !important;
 	background-color: #C0C0C0 !important;
 }

 .theme-light input {
 	background: #fff;
 	background-color: #fff;
 }

 .channelTextArea-1FufC0 {
 	padding-top: 12px;
 	margin-bottom: 13px;
 }

 .textArea-2Spzkt {
 	min-height: 14px;
 	padding: 0;
 }

 .buttons-205you,
 .theme-light .attachButton-1UjEWA {
 	height: auto;
 	min-height: 25px;
 }

 .button-2vd_v_,
 .theme-light .attachButton-1UjEWA {
 	padding: 0;
 }

 .theme-light .attachButton-1UjEWA:hover {
 	background: #0a246a;
 }

 .modeSelected-1zApJ_ .name-3_Dsmg,
 .wrapper-1ucjTd:hover .name-3_Dsmg,
 .side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover,
 .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover,
 .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
 .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
 .header-2o-2hj:hover .name-3YKhmS,
 .clickable-28SzVr:hover .activity-E-0FeD,
 .selected-37j_iU .actionIcon-2Hi9ZG,
 .containerDefault-1ZnADq:hover .actionIcon-2Hi9ZG {
 	color: #fff;
 	text-shadow: none;
 }

 .activityPanel-9icbyU,
 .container-YkUktl {
 	background: #C0C0C0;
 	border-top: 1px solid #fff;
 }

 .containerDefault-1ZnADq,
 .containerDragAfter-1F4fgZ,
 .containerDragBefore-31UGCO,
 .containerUserOver-1U5YnL,
 .member-3W1lQa {
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .inner-zqa7da,
 .search-39IXmY,
 .theme-light input, .searchBar-3TnChZ .searchBarComponent-3N7dCG {
 	border-bottom: 1px solid #fff;
 	border-right: 1px solid #fff;
 	border-top: 1px solid #404040;
 	border-left: 1px solid #404040;
 }

 #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>main>form>div>div>div>div.buttons-uaqb-5>button,
 .iconWrapper-2awDjA,
 .attachButton-_ACFSu,
 .cardPrimary-3qRT__,
 .cardPrimaryEditable-2mz_3i,
 .typing-2J1mQU {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .container-ZMc96U.themed-Hp1KC_,
 .header-2o-2hj {
 	background: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-left: 1px solid #fff;
 	-webkit-box-shadow: unset;
 	box-shadow: unset;
 }

 .contextMenu-HLZMGh {
 	border-bottom: 1px solid #3f3c5d;
 	border-right: 1px solid #3f3c5d;
 	border-top: 1px solid #dccec6;
 	border-left: 1px solid #dccec6;
 }

 .itemGroup-1tL0uz:not(:first-child):not(:empty) {
 	border-bottom: 1px solid #848484;
 	border-top: 1px solid #fff;
 }

 .side-2ur1Qk .separator-2wx7h6 {
 	border-bottom: 1px solid #fff;
 	border-top: 1px solid #848484;
 }

 .children-3xh0VB:after {
 	border-right: #c4c0b8 1px solid;
 	background: none;
 }


 /*
///////////////////////
///ADDITIONS
//////////////////////
*/

 .avatar-3uk_u9 .wrapper-3t9DeA {
 	border-radius: 0;
 }

 .avatar-3uk_u9 .wrapper-3t9DeA svg foreignobject {
 	mask: none;
 }

 /* Text Box */
 .textAreaSlate-9-y-k2 {
 	border-top: 1px solid #dccec6;
 	border-left: 1px solid #dccec6;
 }


 .channelTextArea-1FufC0 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #000000;
 	border-right: 1px solid #78787844;
 	border-top: 1px solid #000;
 }

 .childWrapper-1j_1ub, .wrapper-3kah-n {
 	border-radius: 1px;
 }

 .theme-light .form-3gdLxP:before {
 	border-right: 1px solid #3f3c5d;
 	border-top: 1px solid #000;
 	border-left: 1px solid #dccec6;
 	background-color: #C0C0C0;
 	background: #C0C0C0;
 }






 .scrollableContainer-15eg7h {
 	overflow-x: hidden;
 	overflow-y: hidden;
 }

 .emojiButtonHovered-s44uQ8, .emojiButtonNormal-35P0_i {
 	padding-left: 10px;
 	padding-right: 10px;
 	margin-left: 0px;
 }

 /* Channel Info */
 .theme-light .children-3xh0VB:after {
 	background: transparent;
 }

 /* Activity Panel */
 .activityPanel-9icbyU, .container-YkUktl {
 	background: #C0C0C0 !important;
 	border-top: 1px solid #000;
 	border-bottom: none;
 }

 .container-1oAagU {
 	color: #000 !important;
 	background: #C0C0C0 !important;
 	background-color: #C0C0C0 !important;
 	border-right: 1x solid #848484 !important;
 	border-top: 1px solid #fff !important;
 	border-left: 1px solid #fff !important;
 }

 .card-YtRIQ2 {
 	color: #000 !important;
 	background: #C0C0C0 !important;
 	background-color: #C0C0C0 !important;
 	border-bottom: 1px solid #848484 !important;
 	border-right: 1px solid #848484 !important;
 	border-top: 1px solid #fff !important;
 	border-left: 1px solid #fff !important;
 }

 /* Channels */
 .content-1gYQeQ {
 	background-color: var(--background-secondary);
 	color: #000;
 	margin: 0;
 	border-bottom: 1px solid #848484;
 	border-top: 1px solid #fff;
 }

 .modeUnread-3Cxepe .name-28HaxV:hover {
 	color: #FFFFFF;
 }

 .modeSelected-3DmyhH .name-28HaxV {
 	background-color: var(--background-modifier-selected);
 	color: #FFFFFF
 }

 .actionIcon-2sw4Sl {
 	color: #FFFFFF
 }

 .modeUnread-3Cxepe .name-28HaxV {
 	font-weight: 700;
 	font-style: italic;
 }

 .modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
 	background-color: var(--background-modifier-selected);
 	border-bottom: 1px solid #000;
 	border-right: 1px solid #000;
 	border-top: 1px solid #848484;
 	border-left: 1px solid #848484;
 	;
 }

 .interactiveSelected-29CP8y {
 	color: #FFFFFF
 }

 /* Members */
 .member-2gU6Ar, .layout-1qmrhw:hover {
 	background-color: var(--background-secondary);
 	margin: 0;
 	border-bottom: 1px solid #848484;
 	border-top: 1px solid #fff;
 }

 .selected-1-Z6gm .layout-1qmrhw {
 	color: #FFFFFF
 }

 .activityText-1rR-8O:hover, .icon-Lupfh-:hover {
 	color: #FFFFFF;
 }

 /* Server name */
 .container-1-ERn5 {
 	color: #000;
 	margin: 0;
 	border-bottom: 1px solid #848484;
 }

 /* Guilds bar */
 .scroller-3X7KbA {
 	background-color: var(--background-modifier-selected);
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff
 }


 .circleIconButton-1QV--U, .childWrapper-1j_1ub {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
 	background-color: #848484;
 	color: #000;
 	margin: 0;
 	border-bottom: 1px solid #848484;
 	border-top: 1px solid #fff;
 }

 .closedFolderIconWrapper-3tRb2d, .expandedFolderIconWrapper-3RwQpD {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .circleIconButton-1VxDrg {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }


 .item-2LIpTv {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }


 /* People List */
 .peopleList-2VBrVI {
 	background-color: var(--background-secondary);
 	color: #000;
 	margin: 0;
 	border-bottom: 1px solid #fff;
 	border-top: 1px solid #848484;
 }

 .itemCard-3Etziu:first-of-type {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .itemCard-3Etziu {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .section-3G9aLW {
 	background-color: var(--background-secondary);
 	color: #000;
 	margin: 0;
 	border-bottom: 1px solid #fff;
 	border-top: 1px solid #848484;
 }

 .actions-YHvpIT, .peopleColumn-1wMU14, .actions-YHvpIT:hover, .peopleColumn-1wMU14:hover {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .peopleListItem-u6dGxF:hover .username-Qpc78p, .peopleListItem-u6dGxF:hover .text-MPIeXO {
 	color: #FFFFFF !important;
 }

 .messageContainer-3VTXBC, .messages-23can0, .messageGroupWrapper-1jf_7C {
 	border-bottom: 1px solid #fff;
 	border-right: 1px solid #fff;
 	border-top: 1px solid #404040;
 	border-left: 1px solid #404040;
 }

 /* Footers */
 .footer-5ji8u1 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }


 /* Chat */
 .scrollerInner-2PPAp2 {
 	color: #000;
 	margin: 0;
 	border-bottom: 1px solid #fff;
 	border-top: 1px solid #848484;
 }

 .attachment-1PZZB2, .markup-eYLPri code, .grid-1aWVsE {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .member-2gU6Ar, .layout-1qmrhw:hover {
 	background-color: var(--background-secondary);
 	margin: 0;
 	border-bottom: 1px solid #848484;
 	border-top: 1px solid #fff;
 }

 .selected-1-Z6gm .layout-1qmrhw {
 	color: #FFFFFF
 }

 .activityText-1rR-8O:hover, .icon-Lupfh-:hover {
 	color: #FFFFFF;
 }

 /* Menus */
 .menu-2TXYjN, .channel-1Shao0 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .labelContainer-35-WEd {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 /* Buttons */
 .button-1zW0-r, .button-3bklZh, .lookFilled-1H2Jvj.colorBrand-2M3O3N, .lookFilled-1H2Jvj.colorPrimary-2-Lusz, .tabBar-ra-EuL .item-3mHhwr {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>section>div.container-YkUktl>div.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz>button:nth-child(1), #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>section>div.container-YkUktl>div.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz>button:nth-child(2), #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.sidebar-1tnWFu>section>div.container-YkUktl>div.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz>button:nth-child(3) {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .size32-1NLMUP {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
 	background-color: var(--background-modifier-selected);
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .theme-light .checkbox-f1HnKB {
 	display: none;
 }

 /* Headers */
 .header-1w9Q93, .header-1zd7se {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 /* Guilds Bar */
 .wrapper-1Rf91z {
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .sidebar-1tnWFu {
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 /* Uploading Files */
 .theme-light .checkbox-f1HnKB {
 	display: none;
 }

 .theme-light .uploadModal-2ie9O_ {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .uploadModal-2ie9O_ .footer-VCsJQY.hasSpoilers-33hwf_ {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #fff;
 	border-right: 1px solid #fff;
 	border-top: 1px solid #848484;
 	border-left: 1px solid #848484;
 }


 /* Settings */
 .side-1lrxIh .item-2GWPIy {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .contentRegionScroller-2_GT_N {
 	background-color: #848484;
 }

 .theme-light .closeButton-PCZcma {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .background-3d_SjE {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .fieldList-in8WkP {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #fff;
 	border-right: 1px solid #fff;
 	border-top: 1px solid #848484;
 	border-left: 1px solid #848484;
 }

 .accountProfileCard-lbN7n- {
 	color: #000 !important;
 	background: #C0C0C0 !important;
 	background-color: #C0C0C0 !important;
 	border-right: 1x solid #848484 !important;
 	border-top: 1px solid #fff !important;
 	border-left: 1px solid #fff !important;
 }

 /* Send Button */
 .separator-3ng7S5 {
 	margin-left: 0px;
 }

 #app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div>div.chat-2ZfjoI>div.content-1jQy2l>main>form>div>div>div>div.buttons-uaqb-5>div.separator-3ng7S5>div>button {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 	padding-right: 10px;
 }

 /* TROPICAL - CHECKBOXES - SLATE THEME - https://github.com/DiscordStyles/Slate/blob/master/LICENSE.md */
 /* epic */
 #app-mount .container-1QtPKm, .input-125oad,
 #app-mount .container-1QtPKm, .input-125oad,
 #app-mount .checkboxWrapper-2fDzaA .input-2XRLou,
 #app-mount .checkboxWrapper-2fDzaA .input-3xr72x {
 	margin: 0;
 	opacity: 1;
 	height: 14px !important;
 	width: 14px !important;
 	position: relative;
 	cursor: var(--cursor);
 	-webkit-appearance: checkbox;
 	appearance: checkbox;
 	box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
 }

 #app-mount .container-1QtPKm,
 #app-mount .checkboxWrapper-2fDzaA{
 	width: auto;
 	border-radius: 0;
 	background: transparent !important;
 	display: flex;
 	align-items: center;
 	box-shadow: none;
 	-webkit-box-shadow: none;
 	cursor: var(--cursor);
 }

 input[type="checkbox"] {
 	accent-color: var(--accent);
 }

 #app-mount .container-1QtPKm .slider-HJFN2i,
 #app-mount .checkboxWrapper-2fDzaA .slider-HJFN2i {
 	display: none;
 }

 .theme-dark .checkbox-f1HnKB {
 	display: none;
 }


 /* Emoji and Gif Menu */
 .inspector-2A2Chb, .inspector-DFKXwB, .drawerSizingWrapper-1txdWG {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .unicodeShortcut-3N8oDe, .stickerCategoryGeneric-29JiZ2 {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .inner-1NoIT5, .content-A8TzKf {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .medium-13kyaW .tag-15zcD_ {
 	height: 30px !important;
 }

 .theme-light .header-JHwfVI, .theme-light .header-2TLOnc {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .categoryItemDefaultCategorySelected-2YeRUu, .standardStickerShortcut-ObSns3, .categoryItemDefaultCategorySelected-2YeRUu:hover {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 .list-obNEuP, .inner-2pOSmK, .theme-light .header-JHwfVI {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 /* Voice Chat */
 .container-1zzFcN {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }


 /* Powercord Settings */
 .powercord-entities-manage-tabs {
 	background-color: var(--background-modifier-selected);
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 /* Powercord Theme Toggler and Plugins Products */
 .powercord-product {
 	padding: 9px;
 	margin-bottom: 13px;
 }

 .powercord-product-header h4 {
 	font-size: 16px;
 }

 .powercord-product .divider-3LgWDL {
 	display: none;
 }

 .description, .powercord-product .metadata, .powercord-product-permissions, .powercord-product-footer {
 	margin-top: 4px;
 	font-size: 13px;
 }

 /* Extra stuff for BetterDiscord-Compat */
 .bdc-plugin .metadata>div {
 	margin-top: 4px;
 	width: 20% !important;
 }


 /* New Messages */
 .newMessagesBar-1hF-9G {
 	display: inline;
 	float: left;
 	background-color: #7289da00;
 	box-shadow: none;
 }

 .barButtonAlt-TQoCdZ, .barButtonMain-2GIx4o {
 	color: #000 !important;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }


 /* Typing and slow mode */
 .typing-2J1mQU {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 	height: 14px;
 	top: -16px;
 	padding: 0px 15px;
 	left: .1px;
 }

 /* Hide scroll bar */
 .guilds-2JjMmN *::-webkit-scrollbar, .categoryListWithSearch-2jrzH6 *::-webkit-scrollbar, .emojiPickerHasTabWrapper-LoluYe .categoryList-2qRrlj *::-webkit-scrollbar, .sidebar-1tnWFu *::-webkit-scrollbar {
 	display: none;
 }



 .panels-3wFtMD {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 /* Channel Tabs */

 .channelTabs-closeTab, .channelTabs-newTab {
 	color: #000 !important;
 	background: #C0C0C0 !important;
 	background-color: #C0C0C0 !important;
 	border-bottom: 1px solid #848484 !important;
 	border-right: 1px solid #848484 !important;
 	border-top: 1px solid #fff !important;
 	border-left: 1px solid #fff !important;
 }

 .channelTabs-tabContainer {
 	color: #000 !important;
 	background: #C0C0C0 !important;
 	background-color: #C0C0C0 !important;
 	border-right: 1px solid #848484 !important;
 	border-top: 1px solid #fff !important;
 	border-left: 1px solid #fff !important;
 }

 .channelTabs-tab {
 	color: #000 !important;
 	background: #C0C0C0 !important;
 	background-color: #C0C0C1 !important;
 	border-bottom: 1px solid #848484 !important;
 	border-right: 1px solid #848484 !important;
 	border-top: 1px solid #fff !important;
 	border-left: 1px solid #fff !important;
 }

 .channelTabs-tab:hover {
 	background-color: rgba(0, 0, 0, 0.144) !important;
 }

 .channelTabs-tab.channelTabs-selected {
 	border-bottom: 0px !important;
 }

 .buttonContainer-2lnNiN {
 	color: #000 !important;
 	background: #C0C0C0 !important;
 	background-color: #C0C0C0 !important;
 	border-right: 1px solid #848484 !important;
 	border-top: 1px solid #fff !important;
 	border-left: 1px solid #fff !important;
 }

 /* Chat */
 .fontSize16Padding-XoMpjI {
 	padding-bottom: 11px;
 	padding-top: 11px;
 	margin-left: 3px;
 }



 /* Pop Outs */
 .focusLock-bHVOlV, .root-1CAIjD, .bd-addon-error-header, .bd-tab-item.selected, .theme-light .footerSeparator-3U8YsT {
 	color: #000;
 	background: #C0C0C0;
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff;
 }

 /* People Friends Page */
 .side-1lrxIh .themed-qqoYp3.selected-1sf9UK.item-2GWPIy, .topPill-2vcLsa .themed-qqoYp3.selected-1sf9UK.item-2GWPIy {
 	color: #FFFFFF;
 }

 .platform-osx .typeMacOS-3V4xXE, .platform-osx #channelTabs-container {
 	background-color: #C0C0C0;
 }

 .platform-osx .channelTabs-tabContainer {
 	color: #00000000 !important;
 	background: #c0c0c000 !important;
 	background-color: #c0c0c000 !important;
 	border-right: 1px solid #84848400 !important;
 	border-top: 1px solid #ffffff00 !important;
 	border-left: 1px solid #ffffff00 !important;
 }

 /* Guilds */
 .childWrapper-1j_1ub, .wrapper-3kah-n {
 	background-color: #C0C0C0;
 	border-bottom: 1px solid #848484;
 	border-right: 1px solid #848484;
 	border-top: 1px solid #fff;
 	border-left: 1px solid #fff
 }



 /* Ripped Directly from Saltssaumure's BorderRadient */

 .assetWrapperMasked-1iw9lV,
 .assetsLargeMaskStreamPreview--ugZjW,
 .assetsLargeMaskUserPopout-3N96A8,
 .inspectedIndicator-27zwNZ,
 .loadingIndicator-3fKdTZ,
 .mask-2Me5HY rect,
 foreignObject[mask*="url(#"] {
 	mask: none;
 	-webkit-mask: none;
 }

 .theme-dark .imageLoading-2uloYN,
 .theme-light .imageLoading-2uloYN {
 	background-image: none;
 }

 .accountAddInner-2y9WLL,
 .accountList-Wii_T5,
 .accountProfileCard-lbN7n-,
 .action-2YPPom,
 .actionButton-3-B2x-,
 .actionContainer-2krsiT,
 .actionContainer-EzNGrb,
 .actions-10aT1z,
 .activitySectionAssets-1wpe42 .largeImage-2EIggm,
 .addFriendInputWrapper-kkoSV9,
 .addGamePopout-2SKNIV,
 .addMemberRow-KVhQFf,
 .addReactButton-3bSQb6,
 .addTags-26suzl,
 .after_inlineCode-2_JXPm,
 .allow-1h61-Z,
 .allow-q9kwjz,
 .altTag-3DeQpq,
 .appAvatar-2htirv,
 .artContainer-1yaXct,
 .attachedBars-2BCP3l,
 .attachment-16cAbS,
 .attachment-1PZZB2,
 .audioControls-3fmemK,
 .auditLog-1NVAY0,
 .auto-2K3UW5::-webkit-scrollbar-thumb,
 .auto-2K3UW5::-webkit-scrollbar-track,
 .autocomplete-3jLKbj,
 .autocompleteQuerySymbol-1iAOG7,
 .availabilityIndicator-3-1ZYA,
 .avatar-1-pIh6,
 .avatar-2e8lTP,
 .avatar-3FKimL,
 .avatar-3TrM7c,
 .avatar-l9Txm5,
 .avatar-rC0Atp,
 .avatarHoverTarget-1zzfRL,
 .avatarSpeaking-33RRJU,
 .avatarWrapper-eenWra,
 .background-3d_SjE,
 .backgroundOptionInner-SSz19O,
 .backgroundOptionRing-1vvQ0C,
 .badge-370Op6,
 .badge-39TqBS,
 .banner-1rJmju,
 .banner-2boKnS,
 .banner-3D8GgT,
 .banner-ppi-o1,
 .bar-1Bhnl9,
 .bar-2eAyLE,
 .bar-H6j3_Q,
 .base-2v-uc0,
 .baseShapeRound-3epLEv,
 .baseShapeRoundLeft-heLrHp,
 .bd-addon-error-icon,
 .bd-addon-error,
 .bd-addon-list .bd-addon-card,
 .bd-button,
 .bd-controls>.bd-addon-button:first-of-type,
 .bd-controls>.bd-addon-button:last-of-type,
 .bd-notice:first-child,
 .bd-number-input,
 .bd-pagination button,
 .bd-placeholder-card,
 .bd-search-wrapper,
 .bd-select .bd-select-options,
 .bd-select,
 .bd-server-card,
 .bd-server-count-dot,
 .bd-server-icon,
 .bd-server-tag,
 .bd-switch-body,
 .bd-tab-item,
 .bd-toast,
 .before_inlineCode-1zngJj,
 .bigPerkCard-1uwmWV,
 .blob-1uHjdp,
 .blockquoteContainer-3VtvI1 .blockquoteDivider-363utW,
 .bodyMedia-3ij3KY,
 .border-2BJQjd,
 .border-2Vy6FN,
 .box-BHImcZ,
 .bubble-3XikHF,
 .button-1_oXub,
 .button-12Fmur,
 .button-1iHNQ2,
 .button-1yVL_7,
 .button-3Vyz67,
 .button-cfOvv-,
 .button-f2h6uQ,
 .buttonInner-3aRbcx,
 .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next, .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous,
 .calendarPicker-sDhzdi .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type,
 .calendarPicker-sDhzdi .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type,
 .calendarPicker-sDhzdi .react-datepicker__week:last-of-type>.react-datepicker__day:first-of-type,
 .calendarPicker-sDhzdi .react-datepicker__week:last-of-type>.react-datepicker__day:last-of-type,
 .cameraWrapper-3a7Ngv,
 .card-16VQ8C,
 .card-2ART2V:before,
 .card-2TuZPZ,
 .card-2xymMp,
 .card-3ie2dy,
 .card-3N2v9t,
 .card-3x20HF,
 .card-8UsK4b,
 .card-m7VgZ8,
 .card-PQEqCK,
 .card-sX105p,
 .card-WWLYDO,
 .cardIcon-1d-mcG:before,
 .cardWrapper-1bSePP,
 .category-2OvQ93,
 .category-qFAw-K,
 .categoryFade-3RRG67, .categoryFadeBlurple-1l49_Q,
 .categoryItemDefaultCategory-3haEDq,
 .categoryList-2qRrlj,
 .categoryPill-1zjNrr,
 .channelContainer-3YAhb_,
 .channelIcon-2N5-5h,
 .channelIcon-QyaRxN,
 .channelsWrapper-51IUFR,
 .channelTextArea-1VQBuV,
 .chat-2ZfjoI.threadSidebarOpen-1LSXvU,
 .checkbox-1ycfTw .checkboxInner-1aRh1d span,
 .checkboxWrapper-2fDzaA.row-31nALW,
 .checklistContainer-12xGp5,
 .checklistHeader-3liG7E,
 .childButton-3o_dlg,
 .clickable-WBCFI5,
 .closeButton-PCZcma,
 .closeIcon-2jT3e_,
 .colorPickerSwatch-RTUGRR,
 .colorPickerSwatch-RTUGRR.custom-1Up2lr,
 .colorPickerSwatch-RTUGRR.default-3ISV7m,
 .communityInfoPill-2Mll66,
 .connectContainer-1hylYM,
 .connection-YOVI9j,
 .connectionHeader-Ixbb1s,
 .container-13pE3E,
 .container-16urgA,
 .container-18GwIk,
 .container-1BRLje,
 .container-1ILvLB,
 .container-1IyjjY,
 .container-1SX9VC,
 .container-1wv6C6,
 .container-2_J666,
 .container-20TyK0,
 .container-2d0jMv,
 .container-2dXT_2,
 .container-2ebMPP,
 .container-2Hi7Km,
 .container-2McqkF,
 .container-2NdZr9,
 .container-2nx-BQ,
 .container-2nXUah,
 .container-2O1UgZ,
 .container-2oNtJn,
 .container-2rzKKA,
 .container-30qY7E,
 .container-32HW5s,
 .container-3arpDl,
 .container-3EtAkD,
 .container-3HMTms,
 .container-3i3IzO,
 .container-3jbRo5,
 .container-3kfp0r,
 .container-3PVapX p>img,
 .container-3ssFyj,
 .container-3tKtM_,
 .container-3XgAHv,
 .container-3zZkKh,
 .container-5N5x2A,
 .container-8Futzw,
 .container-lJuBHq,
 .container-QlmnKJ,
 .container-SidGiM,
 .container-x8Y1ix,
 .container-xwOzwi,
 .containerBackground-Ang24O,
 .content-1gYQeQ,
 .content-1Tgc42,
 .content-2hZxGK,
 .content-3spvdd,
 .content-FDHp32 ul li:before,
 .content-pHpkq8,
 .contentCircle-15IFyT,
 .contentWrapper-3vHNP2,
 .contextMenuNub-NuTZ_U,
 .copyInput-3AbKWB,
 .countContainer-3DOo5v,
 .cozy-VmLDNB.hasThread-3h-KJV:after,
 .createSticker-y-_Ug2,
 .css-1313o0h-control,
 .css-19vtg9u-control,
 .css-3vaxre-menu,
 .css-5symcw-control,
 .css-6sv4e8-menu,
 .css-kfxh0s-control,
 .css-xpql1x-control,
 .ctaBar-Nhk8yY,
 .datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l,
 .defaultIndicator-1AxErs,
 .deny-1GO6vI,
 .deny-2VqAyZ,
 .descriptionBox-SKGNgB,
 .descriptionContainer-2ylKGk,
 .developerPortalCtaWrapper-2PniQs,
 .discordIcon-2-SnKe,
 .diversitySelectorOptions-3DhNYs,
 .dmIcon-1ZeAqq,
 .dot-10cPg0,
 .dot-1F0TGd,
 .dot-e8DTw_,
 .dotOnline-j08lOY,
 .dotSeparator-1V0QPn,
 .editCard-K9Q9mb,
 .editingContainer-1_nnqZ,
 .embed-hKpSrO,
 .embedAuthorIcon-3pnkS4,
 .embedImage-2Ynqkh img,
 .embedImage-2Ynqkh video,
 .embedMedia-1mdWSP,
 .embedThumbnail-2nTasl img,
 .embedThumbnail-2nTasl video,
 .embedVideo-2ixt5A img,
 .embedVideo-2ixt5A video,
 .emojiItem-277VFM,
 .emojiPicker-6YCk8a,
 .emptyChannelIcon-1YdEz2,
 .emptyStateIcon-2xfcFG,
 .enableContainer-1J91Aq,
 .enableContainer-2MEsKV,
 .enableContainer-H2cRts,
 .error-3AuLwi,
 .exampleContainer-2O-nVK,
 .exampleContainer-hz7EUM,
 .exampleModal-2fUA5X,
 .exampleRule-3gJ39X,
 .executedCommandAvatar-3oOnb1,
 .expandedFolderBackground-1kSAf6,
 .fakeActivityIcon-KeXVoI,
 .fakeButton-3RWbMY,
 .fakeEdges-18N907:after,
 .fakeEdges-18N907:before,
 .feature-2IUcBI,
 .featureBorder-2Jl8g4,
 .featureCard-3XHbjy,
 .featureIcon-2sTnDK,
 .firstChannel-3vAGDY,
 .focusRing-2_fyOA,
 .folderIconWrapper-1oRIZr,
 .footer-31IekZ,
 .footer-GXWBBp,
 .form-25Aujy .submitButton-3B-dZd,
 .gameIcon-1mDo1J,
 .gemIndicatorContainer-PqApbX,
 .getStartedWrapper-2mNX-j,
 .gif-2kTiNB,
 .gifIconContainer-3os21a,
 .grabber-2GQyvM,
 .group-1-kPpw,
 .group-LWHoGI,
 .guidelinesButton-3Vrz0u,
 .guildContainer-1O-rjS,
 .guildIcon-uYC13g,
 .guildIconExpired-2BFmZC,
 .guildSidebar-pjuGkm,
 .header-11eigE,
 .header-1Uy0p6,
 .header-1zd7se,
 .header-224ffR,
 .headerContent-3_EO-5 .searchBox-3wTyE4,
 .headerIcon-2ra-HY,
 .headerIcon-4CEo5y,
 .headerImage-1c8Lrb,
 .headerImage-2D5D-v,
 .headerImage-Xy5R7m,
 .helpIcon-24pk1Z,
 .hero-1aNo0v,
 .hero-2rQ_qr,
 .hljs,
 .html5-video-player:not(.ytp-touch-mode) ::-webkit-scrollbar-thumb,
 .hue-2nWTuO>div>div,
 .icon-1_mnkD,
 .icon-2DGsye,
 .icon-2O29O0,
 .icon-39rdLt,
 .icon-iw1n8C,
 .icon-mJhEWn,
 .icon-S3vUHH,
 .iconActiveLarge-ac-EDu,
 .iconActiveLarger-2EZc1b,
 .iconActiveMedium-27_R5B,
 .iconActiveMini-1h3oNi,
 .iconContainer-2k2ykS,
 .iconContainer-2R-3M1,
 .iconContainer-36kI2p,
 .iconContainer-6xlTpK,
 .iconInactive-26M06U,
 .iconWrapper-1sOtkE,
 .iconWrapper-3FqQ75,
 .iconWrapper-3plkqh,
 .iconWrapper-il75HH,
 .iconWrapper-Tkg0P1,
 .image-1091CL,
 .image-ZPv20Y,
 .imageUploaderIcon-2OHmFu,
 .imageUploaderInner-IIRaFr,
 .imageWrapper-oMkQl4,
 .indicator-1zNk1M,
 .inlineUpsell-3zPTgw,
 .inner-1lPVFp,
 .input-2g-os5,
 .input-2XRLou,
 .input-3r5zZY,
 .inset-SbsSFp,
 .integration-1qC-fv,
 .intentsContainer-FHJBSg,
 .invite-3uuHYQ,
 .inviteBannerUpsell-1t_LYM,
 .inviteRow-3vmB7i,
 .inviteSplash-2nkLRX,
 .item-1BCeuB,
 .item-1OdjEX,
 .item-2idW98,
 .item-2LIpTv,
 .item-2OyinQ:first-child,
 .item-2OyinQ:last-child,
 .jumpButton-1V_1FA,
 .jumpButton-1ZwI_j,
 .jumpToPresentBar-1cEnH0,
 .keybindShortcut-3zF1P9 span,
 .languageSelector-2e1IuO,
 .lastChannel-21yyBC,
 .layout-1LjVue,
 .layout-1qmrhw,
 .list-1bztb-,
 .list-3ykg7W,
 .listRow-2nO1T6,
 .liveIndicator-TJKS7N,
 .liveShapeRound-2Tgi2d,
 .liveShapeRoundRight-1ifBrO,
 .mainCard-3KBsBI,
 .markup-eYLPri code.inline,
 .markup-eYLPri pre,
 .mediaBarGrabber-FvJKJg,
 .mediaBarInteractionVolume-zGrOSh,
 .memberDot-2pNW83,
 .memberListItem-3V-x8Q,
 .membershipDialog-2wAdpQ,
 .mention,
 .menu-1QACrS,
 .message-G6O-Wv,
 .messageContainer-3VTXBC,
 .messageGroupWrapper-1jf_7C,
 .messageInputContainer-2rGDH8,
 .messageRequestItem-1_NNAR:hover,
 .messageRequestItem-1_NNAR.active-1iRyqF,
 .messages-23can0,
 .messagesErrorBar-1IQ1rH,
 .messagesPopoutWrap-3zryHW,
 .metadataContainer-35U-On,
 .mini-2qY9iv .grabber-2GQyvM,
 .moreUsers-3PdGZN,
 .mostPopularPill-28w8lV,
 .multipleIconWrapper-2YHnS6,
 .newMessagesBar-1hF-9G,
 .noiseCancellationPopout-2-e5Xz,
 .notDetected-M3Ghh2,
 .notice-1Qe0b_,
 .notice-2HEN-u,
 .notice-5OG6bf,
 .nowPlaying-3UpuKc,
 .option-1QI4c9,
 .option-ayUoaq,
 .option-Tt7anD,
 .optionBox-1UOevl,
 .optionContainer-32r7Dj,
 .optionContainer-yOpaLq,
 .optionPill-2kmuZR,
 .outer-2JOHae,
 .outerWrapper-3UdjNj,
 .overflow-W0reYu,
 .overlayAvatar-1U_zp1,
 .overlayBackground-2Zjm9f,
 .overlayBackground-H1K9ZY,
 .overlayTitle-2efoIF,
 .partyMemberEmpty-GtlQ_s,
 .pencilContainer-11Kuga,
 .pencilContainer-18TrEJ,
 .peopleListItem-u6dGxF:hover,
 .peopleListItem-u6dGxF.active-2UF8Zh,
 .perk-19D_HN,
 .perks-2IIbWQ,
 .phoneField-3NAPDv .countryButton-1cNDvB,
 .phoneField-3NAPDv,
 .pictureInPictureVideo-2puO2Q,
 .pictureInPictureWindow-3ms5Zy,
 .pill-1HLSrc,
 .pill-3pRQlO,
 .placeholder-2jEh13,
 .placeholderCard-3eGmb3,
 .placeholderLine-86Fsd9,
 .placeholderMedia-34JHvE,
 .platform-win .sidebar-1tnWFu,
 .popout-1KHNAq,
 .popout-2vZMlk,
 .popout-TdhJ6Z,
 .popoutContainer-2wbmiM,
 .popoutList-10IFAa,
 .popoutRoleDot-2_Nt5g,
 .preview-x-26h-,
 .previewContainer-1GxmBJ,
 .previewContainer-1xQAsw,
 .previewContainer-29oeA6,
 .previewInner-Ry5hd0,
 .previewInner-Ry5hd0:before,
 .previewMessage-2g_aBv,
 .privateThreadFeaturePill-3pnWt5,
 .profileBadge-12r2Nm:before,
 .profileBadges-1GBCVy,
 .profileBadges-31rDHI,
 .profileBannerPreview-3mLIdO,
 .profileCustomizationPreview-2-Y173,
 .profileThemeSectionPremiumBorder-pH_ioT,
 .progressBar-18rmp1,
 .px-MnE_OR.botTag-7aX5WZ,
 .qualitySettingsContainer-2LjkfM,
 .questionMark-3V9mGJ,
 .quickSelectPopout-2F0PXw,
 .quickswitcher-pKcM9U,
 .radioBar-3w9XY-,
 .react-datepicker,
 .reaction-102jx9,
 .reaction-3vwAF2,
 .reaction-BL6n45,
 .rem-3kT9wc.botTag-7aX5WZ,
 .rem-3kT9wc.botTag-7aX5WZ.botTagOP-3pUTXu,
 .repliedMessage-3Z6XBG:before,
 .replyAvatar-sHd2sU,
 .replyBadge-LMm_Ic,
 .result-pzZrwj,
 .result-pzZrwj:after,
 .result-u66Ywh,
 .ring-370dIp,
 .role-23oyrw,
 .role-2mCo-N,
 .role-2TIOKu,
 .roleCircle-1EgnFN,
 .roleCircle-1ER2zO,
 .roleCircle-3K9O3d,
 .roleColor-3cA0as,
 .roleDot-2a4Pv7,
 .roleDot-2gCDg5,
 .roleIcon-3-WL_I:before,
 .roleRow-230vCm,
 .roleRow-3LoHQ6,
 .rolesWrapper-1LLZrU,
 .root-3PVcjb,
 .root-cw9rWQ,
 .root-g14mjS,
 .round-1RSG-3,
 .roundButton-2_R5PN,
 .row-1qtctT,
 .rowContainer-3t7486,
 .rowWrapper-N-4fji,
 .rsvpCount-iCkObl,
 .ruleIconContainer-dXW56-,
 .saturation-CLQHFD>div,
 .saturation-CLQHFD>div>div,
 .scrollableContainer-15eg7h,
 .scrollbarGhostHairline-2LpzZ9::-webkit-scrollbar-thumb,
 .scroller-3b1p7z,
 .search-2Mwzzq .DraftEditor-root .DraftEditor-editorContainer,
 .searchAnswer-23w-CH,
 .searchBar-3TnChZ .searchBarComponent-3N7dCG,
 .searchBar-jGtisZ,
 .searchBox-pyIJJj,
 .searchFilter-2UfsDk,
 .searchResult-O9NDji,
 .section-3G9aLW:first-child,
 .section-3G9aLW:last-child,
 .section-3G9aLW:only-child,
 .select-1Ia3hD,
 .selectableItem-3-fmiM,
 .selected-11Gl-y,
 .sessionIcon-2fwSzb,
 .settingCard-xZSDjS,
 .settingsContainer-36qZZ9,
 .settingsFormItem-25zW3t,
 .side-2ur1Qk .item-3XjbnG,
 .sidebarCard-1Gn1ch,
 .size24-9rrwDS .moreUsers-_v6T-L,
 .small-1bZsRQ,
 .smallBox-1jyyME,
 .smallCarousel-20QIi8,
 .smallCarouselItem-32wSyS,
 .smallPerkCard-2sX_--,
 .sourceThumbnail-ERDcZE,
 .spamBanner-1auiob,
 .spine-2vt3pM,
 .spinner-2bMWLW,
 .splashContainer-2PC_Bm,
 .splashImage-1iRUgw,
 .spoilerContainer-3wsC0k,
 .spoilerText-27bIiA,
 .spoilerWarning-8ovW0v,
 .staticToolbar-x12NJC,
 .status-15kcmy,
 .status-1ZXjSF,
 .status-JIDx3x,
 .statusDot-1TkcEv,
 .statusDot-jqxHTQ,
 .stepContainer-SaPPyG,
 .stepCountIcon-1A2Rxd,
 .stepIndex-Kqaht-,
 .sticker-H2HhJD,
 .stickerCategory-2f6iSo,
 .streamPreview-I7itZ6,
 .swatch-35F5kl,
 .swatch-efj8wq,
 .switchIcon-QY6cR4,
 .tag-15zcD_,
 .tagRoleColor-1rZDyG,
 .textContainer-36wgKK,
 .thin-31rlnD::-webkit-scrollbar-thumb,
 .threadMessageAccessoryAvatar-17qE_g,
 .thumbnail-1UKMQa,
 .tier-3CS7-p,
 .tier-8XCwAc,
 .tier-lFqDUs,
 .tier-R8h9Y_,
 .tier2ColumnOuter-1U2eKO,
 .tierBody-1d3UiS,
 .tierBody-3ju-rc,
 .tierHeader-3q9jIw,
 .tierHeader-wgo0w_,
 .tierMarker-Vw1C95,
 .tierMarkerLabelText-1wk8KK,
 .tierUnlocked-1yG5Ic,
 .tierWrapper-CsnudO,
 .tile-2mmK5T,
 .tile-2TcwiO,
 .tileBaseContainer-2zuu3-,
 .tileSizer-GVC1ge,
 .timestamp-6-ptG3,
 .toast-q3Y4wI,
 .tooltip-14MtrL,
 .tooltip-16UpTB,
 .tooltip-1T4pLi,
 .tooltip-20W1V0,
 .topPill-3DJJNV .item-3XjbnG,
 .triggerMainContainer-274ue5,
 .typingIndicator-KF8hGa,
 .unread-36eUEm,
 .unreadPill-3nEWYM,
 .upload-vLbqu-,
 .uploadInput-3fblkw,
 .uploadModal-2ie9O_ .footer-VCsJQY,
 .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF,
 .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS,
 .uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C,
 .upsellContainer-22N_CL,
 .upsellContainer-2a5eMP,
 .upsellContainer-3qKRln,
 .upsellContent-10YytV,
 .upsellFooter-3M1V33,
 .upsellOverlay-3sCO8V,
 .upsellOverlayContainer-3NMgTS,
 .upsellTextContainer-2_9JSn,
 .upsellTooltipWrapper-1wqikQ,
 .usagePill-16kKHu,
 .userPopout-29jUdN,
 .userPopout-2j1gM4,
 .userPopoutInner-1v4xcM,
 .video-2HW4jD,
 .video-8B-TdZ,
 .videoWrapper-1_H3B3,
 .voiceAvatar-lRbblo,
 .warningIcon-1OWXzB,
 .webkit-QgSAqd::-webkit-scrollbar-thumb,
 .welcomeChannel-_Q4qAA,
 .wrapper-1FP9YQ,
 .wrapper-1gVUIN.chatSidebarOpen--YCxhs .callContainer-HtHELf,
 .wrapper-1HIH0j,
 .wrapper-1VLyxH,
 .wrapper-1wwiGV,
 .wrapper-24fR1R,
 .wrapper-2fEmwW,
 .wrapper-2olG5t,
 .wrapper-2SplAX,
 .wrapper-2vIMkT,
 .wrapper-3mYmFS.ringingIncoming-fibTw-:after,
 .wrapper-3mYmFS.ringingOutgoing-1NjfRn:after,
 .wrapper-3Zq_cJ,
 .wrapper-SdcMKg,
 .wrapper-x4po40,
 .wrapperBase-dMTjVZ,
 .wrapperSimple-Js2rIO,
 .xsmall-14LPsL,
 .ytp-impression-link,
 .ytp-popup,
 .ytp-title-channel-logo,
 .ytp-title-channel,
 .ytp-tooltip-image,
 .ytp-tooltip-text-wrapper,
 .ytp-tooltip-text,
 #bd-editor-controls button,
 #bd-pub-button {
 	border-radius: 0;
 }

 .ChannelDms-channelpopout-popout .ChannelDms-channelpopout-collapseButton,
 .liveIndicator-3bhXBF,
 .hue-2nWTuO>div>div>div>div,
 .saturation-white>div>div,
 .timestamp-modal-custom-input {
 	border-radius: 0 !important;
 }